@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Indie+Flower&family=Zilla+Slab:wght@300&display=swap');
ul{
    display: flex;
}
ul li{
    list-style: none;
    padding: 10px 20px;
}
ul li:hover{
    background-color: black;
    transition: all 0.5s;
    color: white;
}
ul a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Delicious Handrawn', cursive;
    position: relative;
}
ul a::after{
    background-color: blue;
}